<!--The content below is only a placeholder and can be replaced.-->
<div id="main-container">
  <app-page-header 
    [contentCount]="content.count"
    [startDate]="startDate"
    [endDate]="endDate">
  </app-page-header>

  <app-page-content [filteredContent]="this.filteredList"></app-page-content>
</div>