<mat-card class="stat-card">
  <mat-card-content>
    {{senderDesc}} have said the word
    <div class="buzz-word">{{content.word}}</div>
    to {{receiverDesc}}
    <div class="big-number">{{content.count}}</div> times
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button (click)="onViewDetailsClick($event)" >VIEW MESSAGES</button>
  </mat-card-actions>
</mat-card>