.stat-card {
  @media screen and (min-width: 992px) {
    min-width: 400px;
    width: 33%;
  }

  .buzz-word {
    font-weight: bold;
    font-size: 16pt;
  }

  mat-card-actions {
    button {
      background: none;
      color: #128C7E;
      font-weight: bold;

      &:hover {
        color: #075E54;
      }
    }
  }
}