<mat-card id="page-header">
  <mat-card-header>
    <h1>Hi, Elena</h1>
  </mat-card-header>
  <mat-card-content>
    <div>You and San have shared <span class="medium-number">{{contentCount}}</span> messages from <span class="medium-number">{{startDate}}</span> to <span class="medium-number">{{endDate}}</span>.</div>
  </mat-card-content>
</mat-card>