#content {
  // display: table;
  display: flex;
  width: 100%;
  flex-flow: column;

  .wrapper {
    width: 100%;
    display: flex;
    margin-top: 5px;
    flex-flow: column;

    @media screen and (min-width: 992px) {
      flex-flow: row wrap;
    }
    
    // display: inherit;
    
    .row {
      // display: table-row;
      display: flex;
      flex-flow: column;
      width: 100%;

      @media screen and (min-width: 992px) {
        flex-flow: row wrap;
      }

      app-stat-card {
        // display: table-cell;
        flex-grow: 1;
        margin-top: 10px;

        @media screen and (min-width: 992px) {
          margin-right: 10px;
        }
      }
    }
  }
  
}