<div id="content">
  <div class="wrapper"
       *ngIf="!viewDetailsMode">
    <div class="row">
      <app-stat-card [content]="filteredContent.Elena.bored"
                     [sender]="filteredContent.Elena.bored.sender"
                     (viewDetailClicked)="onViewDetailsClick($event)">
      </app-stat-card>
      <app-stat-card [content]="filteredContent.Elena.sleepy"
                     [sender]="filteredContent.Elena.bored.sender"
                     (viewDetailClicked)="onViewDetailsClick($event)"></app-stat-card>
      <app-stat-card [content]="filteredContent.Elena.tired"
                     [sender]="filteredContent.Elena.bored.sender"
                     (viewDetailClicked)="onViewDetailsClick($event)"></app-stat-card>
    </div>
    <div class="row">
      <app-stat-card [content]="filteredContent.San.bored"
                     [sender]="filteredContent.San.bored.sender"
                     (viewDetailClicked)="onViewDetailsClick($event)">
      </app-stat-card>
      <app-stat-card [content]="filteredContent.San.sleepy"
                     [sender]="filteredContent.San.bored.sender"
                     (viewDetailClicked)="onViewDetailsClick($event)"></app-stat-card>
      <app-stat-card [content]="filteredContent.San.tired"
                     [sender]="filteredContent.San.bored.sender"
                     (viewDetailClicked)="onViewDetailsClick($event)"></app-stat-card>
    </div>
  </div>
  <div class="wrapper"
       *ngIf="viewDetailsMode">
    <app-stat-details [content]="detailList" (backClicked)="showOverview($event)"></app-stat-details>
  </div>
</div>