/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

#content, mat-card {
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: #ECE5DD;
}