<div id="stat-details">
  <div id="stat-details__back-button" (click)="onBackClick($event)" >Back</div>
  <div *ngFor="let item of content.list">
    <app-message [item]=item></app-message>
  </div>
</div>