<div class="message">
  <div class="message__top">
    <div class="message__top-sender">
      {{item.sender}}</div>
  </div>
  <div class="message__bottom">
    <div class="message__bottom-text">
      {{item.message}}</div>
    <div class="message__bottom-datetime">{{item.date}} {{item.time}}</div>
  </div>
</div>