.message {
  max-width: 500px;
  display: flex;
  flex-flow: column;
  border-radius: 10px;
  padding: 15px;
  background: #DCF8C6;
  margin: 10px;

  &__top {
    display: flex;
    flex-flow: row;
    &-sender {
      justify-content: flex-start;
    }
  }

  &__bottom {
    &-text {
      float: left;
    }

    &-datetime {
      float: right;
      font-size: 10pt;
    }
  }
  
}